body {
    background-image: url('https://i.postimg.cc/3rS56BWs/11.jpg');
    margin: 0;
    padding: 0;
    background-size: cover;
    min-height: 100vh;
}      
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.updating {
    margin-top: 30px;
    background-color: #f7efe3;
    padding: 35px;
    padding-bottom: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px #97734f61;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    width: 25%;
    width: 350px;
}

.btn-danger{
    border-radius: 40px;
    background-color: #8B4513; 
    border: #8B4513 1px solid;
    color: white;
    padding: 8px 20px;
}
.btn-danger i{
    position: relative;
    left: 7px;
}  

  
input[type="text"],
input[type="password"],
input[type="submit"] {
    display: block;
    margin: auto;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 35px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #8b6239;
    color: white;
    border: none;
    padding: 8px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 40px;
}

input[type="submit"]:hover {
    background-color: #a57c52;
}

.alert {
    color: green !important; 
    font-size: 17px;
}
form h2 {
    color: #b68f69;
    margin-bottom: 30px; 
}

@media (max-width: 1234px) {
    body {
        min-height: 100vh;
    }
}
@media (max-width: 568px) {
    .updating{
        padding: 20px;
        margin: 10px;
        margin-top: 30px;
        width: 300px;
    }
    input[type="text"],
    input[type="password"] {           
            padding: 6.5px;
            margin-bottom: 10px;
        }
    input[type="submit"] {
        padding: 5px 20px;
    }
    body {
        background-image: url('https://i.postimg.cc/3rS56BWs/11.jpg');
        min-height: 97.5vh;
    }
}




.input-field{
    display: flex;
    flex-direction:column;
} .input{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #a47c48;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgb(255, 251, 249);
    outline: none;
}
.input-field i{
    position: relative;
    top: -40px;
    left: 97px;
    color: #a47c48;
}
::-webkit-input-placeholder{
    color: #a47c48;
} 
.sbtn{
    display: flex;
    justify-content: space-evenly;
}

    

/* header */
.header {
    display: flex;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #8b6239;
}
.header a {
    text-decoration: none;
    color: #fff5ee;
    font-weight: bold;
    font-size: 30px;
}
.header .logo {
    padding: 10px;
}




.btnn {
    font-size: 15px;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 10px; /* Adjust margin-top as needed */
    background-color: #8b6239;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    border: 1px solid #97734f;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.276);
}
.btnn:hover {
    background-color:#816345;
    color: white;
}
.btnn i {
    position: relative;
    left: 12px;
    top:0px;
    color:white;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    font-family: 'Times New Roman', Times, serif;
}
.modal-content {
    background-color: #f7efe3; /* Light brown modal background */
    margin: 10% auto;
    width: 80%;
}
.modal-title{
    padding-top:20px;
    padding-left:20px;
}
.modal-body {
    padding: 20px;
}
.modal-footer {
    padding: 10px 0;
    text-align: center;
}
.cancel{
    padding:7px 10px;
    border:1px solid #b68f69;
}
